---
import Layout from "../layouts/Layout.astro"

const projects = [
  {
    name: "Pocket",
    description: "A content-saving and organization app for your articles and videos.",
    url: "https://pocket-mauve.vercel.app/",
    umamiEventName: "click_link_pocket"
  },
  {
    name: "Board",
    description: "A project management tool.",
    url: "https://board-dusky-delta.vercel.app/",
    umamiEventName: "click_link_board"
  },
  {
    name: "Lyft Change",
    description: "An app for athletes to build, track, and analyze their training programs.",
    url: "https://lyft-change.vercel.app/",
    umamiEventName: "click_link_lyft_change"
  },
]
---
<Layout>
  <main class="mx-auto w-4xl max-w-full px-2 sm:px-4">
    <header class="py-12 md:py-16">
      <h1 class="text-2xl font-semibold text-neutral-50 leading-none">Anthony Piegaro</h1>
      <p class="text-lg font-medium text-neutral-400 leading-">Web Developer</p>
    </header>
    <section class="mb-8">
      <h2 class="text-xl font-semibold text-neutral-50 mb-4">Today</h2>
      <p class="font-medium text-neutral-400">
        I currently work in IT Support, where I help people solve technical challenges and keep systems running smoothly. 
        Outside of work, I dedicate my time to programming and building web applications. 
        Right now, I’m focused on front-end development, creating clean, responsive, and user-friendly 
        apps while continuing to grow my skills as a developer.
      </p>
    </section>
    <section class="my-4">
      <h2 class="text-xl font-semibold text-neutral-50 mb-4">Projects</h2>
      <ul class="flex flex-col gap-y-4">
        {projects.map(project => (
          <li>
            <a 
              class="block w-full p-2 transition-all rounded-md cursor-pointer hover:bg-neutral-600/50"
              href={project.url}
              target="_blank"
              data-umami-event={project.umamiEventName}
            >
              <h3 class="text-lg text-neutral-200 font-medium">{project.name}</h3>
              <p class="font-medium text-neutral-400">{project.description}</p>
            </a>
          </li>
        ))}
      </ul>
      <p class="text-neutral-400 pt-4">
        You can see more of my code on 
        <a 
          class="underline cursor-pointer hover:text-neutral-200 transition-all"
          href="https://github.com/anthonypiegaro"
          target="_blank"
          data-umami-event="click_link_github"
        >
          GitHub
        </a>
      </p>
    </section>
  </main>
</Layout>