---
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Anthony Piegaro</title>
		<script defer src="https://cloud.umami.is/script.js" data-website-id="3b7d27c3-d065-4507-8214-79fda9956613"></script>
	</head>
	<body class="h-dvh w-dvw bg-neutral-950">
    <slot />
	</body>
</html>
